/* 改变主题色变量 */
$--color-primary: #00ADE7 !default;
$--color-warning: #FF6262 !default;
$--color-info: #A5A5A5 !default;
$--color-success: #13BD68 !default;
$--color-danger: rgb(114, 6, 6) !default;
$--color-orange: #FF9741 !default;

$--font-color-primary: #242424 !default;