page{
    background: #fff;
}
.btn-view{
    margin: 60rpx 50rpx 20rpx;
}
.botton-btn{
    color: #666;
    width: 140rpx;
    font-size: 26rpx;
    height: 46rpx;
    line-height: 46rpx;
    position: fixed;
    bottom: 60rpx;
    left: 50%;
    margin-left: -70rpx;
}