
.aftersale-list {
    background-color: #f7f7f8;
    height: 100%;
    position: relative;
}

.aftersale-list > .query {
    height: 100rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22rpx;
    color: #A1A6B3;
    background-color: #fff;
    /*border-top: 1rpx solid #E5E5E5;*/
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 400;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.aftersale-list > .query image {
    width: 30rpx;
    height: 30rpx;
}

.aftersale-list > .query > .add, .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aftersale-list > .query > .add {
    margin-right: 20rpx;
    padding-left: 20rpx;
}

.aftersale-list > .query > .filter {
    margin-left: 20rpx;
    padding-right: 20rpx;
}

.aftersale-list > .query > .search {
    flex: 1;
    height: 68rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f8;
    border-radius: 8rpx;
    margin-left: 20rpx;
}

.aftersale-list > .query > .search > text {
    margin-left: 16rpx;
    font-size: 30rpx;
}

/* 筛选器的弹层样式 开始 */
.aftersale-list > .query > .filter-dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0rpx;
    right: 0rpx;
    display: flex;
    justify-content: flex-end;
    font-size: 28rpx;
    /*opacity: 0.4;*/
    background: rgba(0, 0, 0, 0.4);
    overflow: scroll;
}

.aftersale-list > .query > .filter-dialog > .left-sidebar {
    flex: 1;
}

.aftersale-list > .query > .filter-dialog > .city-container {
    padding-top: 100rpx;
    width: 620rpx;
    height: 100vh;
    background-color: #fff;
    overflow: scroll;
}

.aftersale-list > .query > .filter-dialog > .city-container > .header {
    height: 88rpx;
    border-top: 1rpx solid #e5e5e5;
    border-bottom: 1rpx solid #e5e5e5;
    display: flex;
    align-items: center;
    padding: 0 20rpx;
}

.aftersale-list > .query > .filter-dialog > .city-container > .header > image {
    width: 13rpx;
    height: 24rpx;
}

.aftersale-list > .query > .filter-dialog > .city-container > .header > .title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #20232C;
}

.aftersale-list > .query > .filter-dialog > .city-container > .tags-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30rpx 10rpx;
}

.aftersale-list > .query > .filter-dialog > .city-container > .tags-container > text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180rpx;
    height: 72rpx;
    border-radius: 6rpx;
    box-sizing: border-box;
    border: 1rpx solid #A1A6B3;
    margin: 10rpx;
}

.aftersale-list > .query > .filter-dialog > .city-container > .tags-container > text.active {
    color: #00ADE7;
    border-color: #00ADE7;
}

.aftersale-list > .query > .filter-dialog > .form-container {
    padding-top: 80rpx;
    width: 620rpx;
    height: 100%;
    border-top: 1rpx solid #eee;
    background-color: #fff;
    position: relative;
    overflow: auto;
}

.aftersale-list > .query > .filter-dialog > .form-container > .form {
    padding: 40rpx 20rpx 200rpx;
}

.aftersale-list > .query > .filter-dialog > .form-container > .form > .form-item + .form-item {
    margin-top: 40rpx;
}

.aftersale-list > .query > .filter-dialog > .form-container > .form > .form-item > .label {
    color: #20232C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aftersale-list > .query > .filter-dialog > .form-container > .form > .form-item > .label > .more {
    display: flex;
    align-items: center;
    color: #A1A6B3;
}

.aftersale-list > .query > .filter-dialog > .form-container > .form > .form-item > .label > .more > image {
    margin-left: 16rpx;
    width: 13rpx;
    height: 24rpx;
}

.aftersale-list > .query > .filter-dialog > .form-container > .form > .form-item > .tags-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10rpx;
}

.aftersale-list > .query > .filter-dialog > .form-container > .form > .form-item > .tags-container > text {
    margin: 20rpx 10rpx 0;
    width: 176rpx;
    height: 72rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1rpx solid #A1A6B3;
    border-radius: 6rpx;
    color: #A1A6B3;
}

.aftersale-list > .query > .filter-dialog > .form-container > .form > .form-item > .tags-container > text.active {
    border-color: #00ADE7;
    color: #00ADE7;
}

.aftersale-list > .query > .filter-dialog > .form-container > .form > .form-item .picker-date-view {
    margin-top: 20rpx;
    width: 580rpx;
    height: 80rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A1A6B3;
    border-radius: 6px;
    color: #20232C;
}

.aftersale-list > .query > .filter-dialog > .form-container > .form > .form-item .picker-date-view > .range {
    padding: 0 10rpx;
    color: #A1A6B3;
}

.aftersale-list > .query > .filter-dialog > .form-container > .operate {
    height: 110rpx;
    display: flex;
    font-size: 34rpx;
    background-color: #fff;
    position: fixed;
    z-index: 9999;
    bottom: 0rpx;
    right: 0rpx;
}

.aftersale-list > .query > .filter-dialog > .form-container > .operate > .reset {
    width: 260rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1rpx solid #00ADE7;
    color: #00ADE7;
}

.aftersale-list > .query > .filter-dialog > .form-container > .operate > .submit {
    width: 360rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #00ADE7;
}

/* 筛选器的弹层样式 结束 */

.aftersale-list > .scroll-list-header {
    padding: 0 20rpx;
    font-size: 28rpx;
    font-family: PingFangSC-Medium;
}

.aftersale-list > .scroll-list-item {
    padding: 0 20rpx;
    font-size: 28rpx;
}

.aftersale-list > .scroll-list-item > .item {
    background: #fff;
    border-radius: 8rpx;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20rpx;
    padding-left: 20rpx;
}

.aftersale-list > .scroll-list-item > .item > .item-title {
    height: 80rpx;
    padding-right: 20rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30rpx;
    color: #20232C;
    border-bottom: 1rpx solid #e5e5e5;
    .grade7, .grade2{
        display: inline-block;
        width: 10rpx;
        height: 24rpx;
        margin-left: 10rpx;
        position: relative;
        top: 1px;
        &.grade7{
            background: #ff5252;
        }
        &.grade2{
            background: #aa94c4;
        }
    }
    
}

.aftersale-list > .scroll-list-item > .item > .item-title > .order-status {
    font-family: PingFangSC-Medium;
}

.aftersale-list > .scroll-list-item > .item > .item-title > .order-status.waiting_dispose {
    color: #70ACF0;
}

.aftersale-list > .scroll-list-item > .item > .item-title > .order-status.close {
    color: #20232C;
}

.aftersale-list > .scroll-list-item > .item > .item-description {
    padding: 20rpx 20rpx 20rpx 0;
    font-size: 26rpx;
    color: #A1A6B3;
}

.aftersale-list > .scroll-list-item > .item > .item-description > .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.aftersale-list > .scroll-list-item > .item > .item-description > .header > .store-title, .pay {
    font-family: PingFangSC-Medium;
    font-size: 30rpx;
}

.aftersale-list > .scroll-list-item > .item > .item-description > .header > .store-title {
    width: 400rpx;
    color: #20232C;
    line-height: 40rpx;
    word-wrap: break-word;
}

.aftersale-list > .scroll-list-item > .item > .item-description > .header > .pay > .opt-type {
    font-family: PingFangSC-Regular;
    color: #A1A6B3;
    font-size: 28rpx;
    line-height: 40rpx;
}

.aftersale-list > .scroll-list-item > .item > .item-description > .footer  {
    margin-top: 22rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28rpx;
}

.page-order-list > .scroll-list-item > .item > .item-description > .footer > .city  {
    line-height: 28rpx;
}

.aftersale-list > .list-footer {
    padding: 20rpx 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28rpx;
    color: #A1A6B3;
}
