/* pages/merchant/merchant-member-reset/merchant-member-reset.wxss */

.page-merchant-member-reset {
    height: 100%;
    padding: 30rpx 20rpx;
    font-size: 28rpx;
    color: #20232C;
    background-color: #f7f7f8;
}

.page-merchant-member-reset > .form > .form-area-view {
    margin-top: 20rpx;
    padding-left: 20rpx;
}

.page-merchant-member-reset > .form > .form-area-view > .form-item {
    height: 110rpx;
    padding-right: 20rpx;
    box-sizing: border-box;
    border-bottom: 1rpx solid #e5e5e5;
    position: relative;
}

.page-merchant-member-reset > .form > .form-area-view > .form-item > .form-item-error {
    font-size: 20rpx;
    color: #F26A6A;
    position: absolute;
    bottom: 3rpx;
}

.page-merchant-member-reset > .form > .form-area-view > .form-item > .form-item-content {
    padding-top: 35rpx;
    display: flex;
    justify-content: space-between;
}

.page-merchant-member-reset > .form > .form-area-view > .form-item > .form-item-content > input {
    text-align: right;
}

.page-merchant-member-reset > .form > .form-area-view > .form-item.address > .form-item-content > input {
    width: 480rpx;
}

.page-merchant-member-reset > .form > .form-area-view > .form-item > .form-item-content.show-password {
    padding-right: 50rpx;
    position: relative;
}

.page-merchant-member-reset > .form > .form-area-view > .form-item > .form-item-content.show-password > .show-icon {
    padding: 14rpx;
    width: 36rpx;
    height: 36rpx;
    position: absolute;
    bottom: -8rpx;
    right: -14rpx;
}

.page-merchant-member-reset > .btn-submit {
    margin: 100rpx 0;
}
