.blank {
  height: 100rpx;
}

.navbar {
  font-size: 0rpx;
  //width: 550rpx;
  height: 100rpx;
  position: relative;
  transition: transform 0.3s, -webkit-transform 0.3s;
  overflow: hidden;
  white-space: nowrap;
  background: #fff;
  border-bottom: 1rpx solid #EEE;

  &.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background: #fff;
  }

  .item {
    font-size: 28rpx;
    line-height: 100rpx;
    display: inline-block;
    text-align: center;
    &.active {
      font-weight: bold;
      font-size: 30rpx;
      color: #00ADE7;
    }
  }

  .slider {
    content: " ";
    display: block;
    height: 4rpx;
    border-radius: 100px;
    transition: transform 0.3s, -webkit-transform 0.3s;
    position: absolute;
    left: 0;
    top: 96rpx;
  }
}
