/* pages/updateSystem/updateSystem.wxss */
.updateSystem{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
  }
  image {
    display: block;
    width: 460rpx;
    height: 460rpx;
  }