/* pages/setting/setting-operator-reset-password/setting-operator-reset-password.wxss */


.page {
    padding: 20rpx;
    background: #F7F7F8;
    height: 100%;
}

.page .password-list {
    background: #fff;
    border-radius: 8rpx;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    font-size: 30rpx;
}

.page .password-item {
    height: 110rpx;
    margin: 0 20rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page .password-item + .password-item {
    border-top: 1rpx solid #f7f7f8;
}

.page .btn-submit {
    margin-top: 100rpx;
    height: 88rpx;
    color: #fff;
    background: #00ADE7;
    border-radius: 8rpx;
}