/* pages/statistics/statistics-product.wxss */

.page{
  background: #F7F7F8;
}

.page > .title {
  font-size: 28rpx;
  margin-left: 40rpx;
  padding: 16rpx 0;
  font-weight: bold;
}

.head-view > view > image {
  width: 16rpx;
  height: 20rpx;
  margin-left: 5rpx;
  position: relative;
  top: 2rpx;
}

.page > .content {
  margin-top: 100rpx;
}


.list{
  background: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin: 20rpx 20rpx 40rpx 20rpx;
  border-radius: 8rpx;
  overflow: hidden;
}

.list .head-view{
  display: flex;
  height: 88rpx;
  align-items: center;
  color: #A1A6B3;
}

.list .item-view{
  display: flex;
  min-height: 100rpx;
  align-items: center;
  color: #20232C;
}

.highlight-row{
  background-color: #F9FAFC;
}

.col-text{
  text-align: left;
  font-size: 28rpx;
  word-wrap:break-word;
}

.col1{
  padding-top: 10rpx;
  padding-bottom: 10rpx;
  padding-right: 10rpx;
  margin-left: 20rpx;
  display: flex;
  flex-direction: column;
  width: 370rpx;
}

.col2{
  width: 240rpx;
}

.col3{
  width: 90rpx;
}

.col4{
  width: 260rpx;
}

.col5{
  width: 130rpx;
}


.col1 > .info{
  margin-top: 20rpx;
  display: flex;
  color: #A1A6B3;
}

.col1 > .info >.display-class{
  flex: initial;
}

.col1 > .info >.buyer{
  margin-left: 26rpx;
  flex: initial;
}

.page-bottom{
  margin-top: 20rpx;
  padding-bottom: 20rpx;
}


/* 筛选器的弹层样式 开始 */
.page > .query > .filter-dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0rpx;
  right: 0rpx;
  display: flex;
  justify-content: flex-end;
  font-size: 28rpx;
  /*opacity: 0.4;*/
  background: rgba(0, 0, 0, 0.4);
}

.page > .query > .filter-dialog > .overlay {
  flex: 1;
  height: 100%;
}

.page > .query > .filter-dialog > .city-container {
  width: 620rpx;
  height: 100%;
  background-color: #fff;
  overflow: auto;
}

.page > .query > .filter-dialog > .city-container > .header {
  height: 88rpx;
  border-top: 1rpx solid #e5e5e5;
  border-bottom: 1rpx solid #e5e5e5;
  display: flex;
  width: 100%;
  background: #fff;
  position: absolute;
  align-items: center;
  padding: 0 20rpx;
}

.page > .query > .filter-dialog > .city-container > .header .image-container {
  height: 88rpx;
  display: flex;
  position: absolute;
  align-items: center;
  width: 100rpx;
}

.page > .query > .filter-dialog > .city-container > .header .image-container > image {
  width: 17rpx;
  height: 28rpx;
}

.page > .query > .filter-dialog > .city-container > .header > .title {
  display: flex;
  width: 580rpx;
  justify-content: center;
  align-items: center;
  color: #20232C;
}

.page > .query > .filter-dialog > .city-container > .tags-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 88rpx;
  padding: 30rpx 10rpx;
}

.page > .query > .filter-dialog > .city-container > .tags-container > text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180rpx;
  height: 72rpx;
  border-radius: 6rpx;
  box-sizing: border-box;
  border: 1rpx solid #A1A6B3;
  margin: 10rpx;
  color: #A1A6B3;
}

.page > .query > .filter-dialog > .city-container > .tags-container > text.active {
  color: #00ADE7;
  border-color: #00ADE7;
}

.page > .query > .filter-dialog > .form-container {
  width: 620rpx;
  height: 100%;
  border-top: 1rpx solid #eee;
  background-color: #fff;
  position: relative;
  overflow: auto;
}

.page > .query > .filter-dialog > .form-container > .form {
  padding: 40rpx 10rpx 100rpx;
}

.page > .query > .filter-dialog > .form-container > .form > .form-item + .form-item {
  margin-top: 40rpx;
}

.page > .query > .filter-dialog > .form-container > .form > .form-item > .label {
  color: #20232C;
  display: flex;
  margin-left: 10rpx;
  justify-content: space-between;
  align-items: center;
}

.page > .query > .filter-dialog > .form-container > .form > .form-item > .label > text {
  min-width: 150rpx;
}

.page > .query > .filter-dialog > .form-container > .form > .form-item > .label > .more {
  display: flex;
  align-items: center;
  color: #A1A6B3;
}

.page > .query > .filter-dialog > .form-container > .form > .form-item > .label > .more > text.active {
  color: #00ADE7;
}

.page > .query > .filter-dialog > .form-container > .form > .form-item > .label > .more {
  display: flex;
  align-items: center;
  color: #A1A6B3;
}

.page > .query > .filter-dialog > .form-container > .form > .form-item > .label > .more > image {
  margin-left: 16rpx;
  width: 12rpx;
  height: 22rpx;
  margin-right: 10rpx;
}

.page > .query > .filter-dialog > .form-container > .form > .form-item > .tags-container {
  display: flex;
  flex-wrap: wrap;
}

.page > .query > .filter-dialog > .form-container > .form > .form-item > .tags-container > text {
  margin: 20rpx 10rpx 0;
  width: 180rpx;
  height: 72rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1rpx solid #A1A6B3;
  border-radius: 6rpx;
  color: #A1A6B3;
}

.page > .query > .filter-dialog > .form-container > .form > .form-item > .tags-container > text.active {
  border-color: #00ADE7;
  color: #00ADE7;
}

.page > .query > .filter-dialog > .form-container > .form > .form-item > .picker-date-container {
  margin-top: 20rpx;
  width: 100%;
  height: 80rpx;
  display: flex;
  margin-left: 10rpx;
  justify-content: center;
  align-items: center;
}

.page > .query > .filter-dialog > .form-container > .form > .form-item > .picker-date-container .picker-fix-date-view {
  width: 154rpx;
  height: 80rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1rpx solid #A1A6B3;
  border-radius: 6rpx;
  color: #20232C;
}

.page > .query > .filter-dialog > .form-container > .form > .form-item > .picker-date-container .picker-date-view {
  flex: 1;
  height: 80rpx;
  margin-left: 10rpx;
  margin-right: 20rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1rpx solid #A1A6B3;
  border-radius: 6rpx;
  color: #20232C;
}

.page > .query > .filter-dialog > .form-container > .form > .form-item .picker-date-view > .range {
  padding: 0 10rpx;
  color: #A1A6B3;
}

.page > .query > .filter-dialog > .form-container > .operate {
  height: 110rpx;
  display: flex;
  font-size: 34rpx;
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  bottom: 0rpx;
  right: 0rpx;
}

.page > .query > .filter-dialog > .form-container > .operate > .reset {
  width: 260rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1rpx solid #00ADE7;
  color: #00ADE7;
}

.page > .query > .filter-dialog > .form-container > .operate > .submit {
  width: 360rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #00ADE7;
}

/* 筛选器的弹层样式 结束 */

